In [1]:
API_KEY = "6FHUJPUDOL0WE3S7"

In [17]:
from alpha_vantage.timeseries import TimeSeries

ts = TimeSeries(key=API_KEY, output_format='pandas')
data = ts.get_intraday(symbol='AAPL', interval='1min', outputsize='full')[0]
metadata = ts.get_intraday(symbol='AAPL', interval='1min', outputsize='full')[1]
data

                     1. open  2. high  3. low  4. close  5. volume
date
2022-10-21 20:00:00   147.63   147.63  147.58    147.58     3455.0
2022-10-21 19:59:00   147.70   147.70  147.64    147.64     1003.0
2022-10-21 19:58:00   147.65   147.70  147.64    147.70     4161.0
2022-10-21 19:57:00   147.70   147.70  147.70    147.70      517.0
2022-10-21 19:56:00   147.64   147.66  147.63    147.66     1730.0
...                      ...      ...     ...       ...        ...
2022-10-10 04:05:00   139.16   139.16  139.16    139.16      835.0
2022-10-10 04:04:00   139.35   139.35  139.25    139.25     1893.0
2022-10-10 04:03:00   139.36   139.36  139.36    139.36     1560.0
2022-10-10 04:02:00   139.43   139.43  139.29    139.29     1199.0
2022-10-10 04:01:00   139.95   139.95  139.50    139.50     2319.0

[8145 rows x 5 columns]

In [18]:
metadata

{'1. Information': 'Intraday (1min) open, high, low, close prices and volume',
 '2. Symbol': 'AAPL',
 '3. Last Refreshed': '2022-10-21 20:00:00',
 '4. Interval': '1min',
 '5. Output Size': 'Full size',
 '6. Time Zone': 'US/Eastern'}