The requested range must be within the last 60 days, if interval="5m" <br>
Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]

In [26]:
#!pip install yfinance
#!pip install mplfinance
import yfinance as yf
import mplfinance as mpf
from datetime import datetime


# The requested range must be within the last 60 days, if interval="5m", 30 days if interval="1m"
# Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]
# Only 7 days worth of 1m granularity data are allowed to be fetched per request.

start_date = datetime(2022, 8, 18)
end_date = datetime(2023, 9, 29)

df = yf.download(tickers='RELIANCE.NS', start=start_date, end=end_date, interval="5m")
print(df.size)
df.tail()

# mpf.plot(df,type='candle',mav=(3,6,9),volume=True)

[*********************100%***********************]  1 of 1 completed
17994

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-10-14 15:10:00+05:30,2373.399902,2373.449951,2369.649902,2371.449951,2371.449951,184301
2022-10-14 15:15:00+05:30,2371.149902,2372.199951,2369.399902,2370.550049,2370.550049,208669
2022-10-14 15:20:00+05:30,2370.449951,2372.250000,2369.449951,2370.149902,2370.149902,164206
2022-10-14 15:25:00+05:30,2370.149902,2374.649902,2369.300049,2373.000000,2373.000000,186391
2022-10-14 15:30:00+05:30,2370.699951,2370.699951,2370.699951,2370.699951,2370.699951,0