# Yahoo Finance Data

The requested range must be within the last 60 days, if interval="5m", 30 days if interval="1m" <br>
Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo] <br>
Only 7 days worth of 1m granularity data are allowed to be fetched per request.<br>

In [27]:
import yfinance as yf
import mplfinance as mpf
import datetime as dt

print("Download data from yahoo finance")
print("Interval: 5m")
symbol = input("Enter the stock ticker (eg.RELIANCE.NS): ")
print(symbol)

print("MENU")
print("1. Download data for last 60 days")
print("2. Download data from the start date specified")
option = input("Option: ")

Download data from yahoo finance
Interval: 5m
RELIANCE.NS
MENU
1. Download data for last 60 days
2. Download data from the start date specified

In [28]:

if option == "1":
    start_date = dt.datetime.today() - dt.timedelta(59)
    end_date = dt.datetime.today()

elif option == "2":
    user_input_start_date = input("Enter the start date (YYYY-MM-DD): ")

    start_date = dt.datetime.strptime(user_input_start_date, '%Y-%m-%d')
    end_date = start_date + dt.timedelta(59)

print("Start date: ", start_date.date())
print("End date: ", end_date.date())

Start date:  2022-08-25
End date:  2022-10-23

In [29]:
df = yf.download(tickers=symbol, start=start_date, end=end_date, interval="5m")
print(f"Number of candles: {df.size}")
df

[*********************100%***********************]  1 of 1 completed
Number of candles: 17676

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2022-08-25 13:40:00,2660.600098,2661.000000,2659.000000,2659.899902,2659.899902,0
2022-08-25 13:45:00,2660.600098,2660.600098,2656.000000,2657.199951,2657.199951,38670
2022-08-25 13:50:00,2657.500000,2658.850098,2656.149902,2657.600098,2657.600098,21441
2022-08-25 13:55:00,2657.600098,2659.199951,2656.250000,2656.399902,2656.399902,36663
2022-08-25 14:00:00,2656.899902,2657.000000,2654.000000,2656.149902,2656.149902,38094
...,...,...,...,...,...,...
2022-10-21 15:10:00,2473.350098,2474.899902,2472.350098,2472.550049,2472.550049,58131
2022-10-21 15:15:00,2473.050049,2473.050049,2469.000000,2469.949951,2469.949951,109824
2022-10-21 15:20:00,2469.899902,2470.649902,2467.250000,2468.850098,2468.850098,139209
2022-10-21 15:25:00,2469.000000,2470.000000,2467.699951,2470.000000,2470.000000,117142
2022-10-21 15:30:00,2471.600098,2471.600098,2471.600098,2471.600098,2471.600098,0

In [34]:
# saving the data to a csv file
df.to_csv(f"{symbol}-{start_date.date()}-to-{end_date.date()}.csv")

In [ ]:
# plot the data
mpf.plot(df,type='candle',mav=(3,6,9),volume=True)